<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerAPIKey</key>
	<string>chx1vzJJM4t9Wk2jc0xRHwUuH</string>
	<key>secretAPIKey</key>
	<string>nXdfGP4zd4itOpc3Vt73OldLuF1BnxnVqhUS1pYrRVuqOLILhu</string>
</dict>
</plist>
